{% extends "base.html" %}

{% block main %}
<h1 id="properties-header">Properties</h1>

<div id="property-container">
    {% for property in properties %}
        <div class="property-list-item">
            <img class='property-picture' src={{ url_for('get_image',filename=property.photo) }} />
            <p class='title'>{{ property.title }}, {{property.type}}</p>
            <p>{{ property.location }}</p>
            <p>${{ property.price }}</p>
         <a href="{{ url_for('property', id=property.id) }}">View</a>
        </div>
    {% endfor %}
</div>

{% endblock %}